body{
  background-color:#f1eada;
}

.form-check-input {
  width: 1.5em;
  height: 1.5em;
  border: 1px solid gray;
}

.radio-label {
  margin-left: 10px;
  margin-top: 4px;
}

.card-header {
  padding: 15px;
  font-size: 12pt;
}

.title-div{
  border-top: 10px solid #9398f6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.title{
  font-size: 24pt;
}
